{% extends 'employee/base.html' %}

{% block content %}
    <table class="table table-bordered mt-5">
        <therad>
            <tr>
                <th>ID</th>
                <th>姓</th>
                <th>名</th>
                <th>メール</th>
                <th>部署</th>
                <th>部活</th>
             </tr>
        </therad>
    
        <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{ employee.pk }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.department }}</td>
                <td>{% for club in employee.club.all %}{{ club }},{% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}
